.main {
    border:5px solid #ccc;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.container {
    background-color:grey;   
    padding:20px;
}

.screen {
    display:flex;
    flex-direction: column;
    background-color: antiquewhite;
}

.screenCurrent {
    width: 89%;
    font-size: 3rem;
    height: 65px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

.screenPrevious {
    width: 89%;
    font-size: 3rem;
    height: 65px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}


button {
    padding:20px;
    width:60px;
    margin:2px;
    font-size:20px;
}

.clear {
    width:120px;
}

.back {
    width:120px;
}

.functionButtons {
    display:flex;
    justify-content: space-around;
}

.buttonsColumnOne {
    display: flex;
}

.buttonsColumnTwo {
    display: flex;
}

.buttonsColumnThree {
    display: flex;
}

.buttonsColumnFour {
    display: flex;
}
